name: Build

on: [push, pull_request]

jobs:
  Build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'
      
    - name: Install Dependencies
      run: |
        dotnet restore 
        
    - name: Build
      run: |
        dotnet build --configuration Release --no-restore
    
    - name: Test
      run: |
        dotnet test --no-restore --verbosity detailed
    
    - name: Publish
      run: | 
        dotnet publish ./TSMPModdedSIILauncher.ConsoleApp -r linux-x64 -c Release --self-contained true /p:PublishSingleFile=true /p:PublishTrimmed=true /p:IncludeNativeLibrariesForSelfExtract=true
        dotnet publish ./TSMPModdedSIILauncher.ConsoleApp -r osx-x64 -c Release --self-contained true /p:PublishSingleFile=true /p:PublishTrimmed=true /p:IncludeNativeLibrariesForSelfExtract=true
        dotnet publish ./TSMPModdedSIILauncher.ConsoleApp -r win-x64 -c Release --self-contained true /p:PublishSingleFile=true /p:PublishTrimmed=true /p:IncludeNativeLibrariesForSelfExtract=true
        
    - name: Upload Linux Artifact 
      uses: actions/upload-artifact@v2
      with: 
        name: TSMPModdedSIILauncher-Linux
        path: ./TSMPModdedSIILauncher.ConsoleApp/bin/Release/netcoreapp5.0/linux-x64/publish/TSMPModdedSIILauncher
        retention-days: 30

    - name: Upload Windows Artifact 
      uses: actions/upload-artifact@v2
      with: 
        name: TSMPModdedSIILauncher-Windowns
        path: ./TSMPModdedSIILauncher.ConsoleApp/bin/Release/netcoreapp5.0/win-x64/publish/TSMPModdedSIILauncher.exe
        retention-days: 30
    
    - name: Upload Mac Artifact 
      uses: actions/upload-artifact@v2
      with: 
        name: TSMPModdedSIILauncher-Mac
        path: ./TSMPModdedSIILauncher.ConsoleApp/bin/Release/netcoreapp5.0/osx-x64/publish/TSMPModdedSIILauncher
        retention-days: 30
      
