name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  Core:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0
    - name: Install dependencies
      run: |
        dotnet restore ./TSMPModdedSIILauncher.Core 
    - name: Build
      run: |
        dotnet build ./TSMPModdedSIILauncher.Core  --configuration Release --no-restore
