name: Build

on: 
  push:
  pull_request:
  workflow_dispatch: 
    inputs:
        version:
          description: 'example: "v1.2", "v0.3 alpha"'     
          required: true
        releaseName:
          description: 'name of the release'  
          required: true

jobs:
  Build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'
      
    - name: Install Dependencies
      run: |
        dotnet restore 
        
    - name: Build
      run: |
        dotnet build --configuration Release --no-restore
    
    - name: Test
      run: |
        dotnet test --no-restore --verbosity detailed
    
    - name: Publish
      run: | 
        dotnet publish ./TSMPModdedSIILauncher -r linux-x64 -c Release --self-contained true /p:PublishSingleFile=true /p:PublishTrimmed=true /p:IncludeNativeLibrariesForSelfExtract=true
        dotnet publish ./TSMPModdedSIILauncher -r osx-x64 -c Release --self-contained true /p:PublishSingleFile=true /p:PublishTrimmed=true /p:IncludeNativeLibrariesForSelfExtract=true
        dotnet publish ./TSMPModdedSIILauncher -r win-x64 -c Release --self-contained true /p:PublishSingleFile=true /p:PublishTrimmed=true /p:IncludeNativeLibrariesForSelfExtract=true

    - name: Upload Linux Artifact 
      uses: actions/upload-artifact@v2
      with: 
        name: TSMPModdedSIILauncher-Linux
        path: |
          ./TSMPModdedSIILauncher/bin/Release/netcoreapp5.0/linux-x64/publish/
          !./TSMPModdedSIILauncher/bin/Release/netcoreapp5.0/linux-x64/publish/*.pdb
        retention-days: 30

    - name: Upload Windows Artifact 
      uses: actions/upload-artifact@v2
      with: 
        name: TSMPModdedSIILauncher-Windows
        path: | 
          ./TSMPModdedSIILauncher/bin/Release/netcoreapp5.0/win-x64/publish/
          !./TSMPModdedSIILauncher/bin/Release/netcoreapp5.0/win-x64/publish/*.pdb
        retention-days: 30
    
    - name: Upload Mac Artifact 
      uses: actions/upload-artifact@v2
      with: 
        name: TSMPModdedSIILauncher-Mac
        path: |
          ./TSMPModdedSIILauncher/bin/Release/netcoreapp5.0/osx-x64/publish/
          !./TSMPModdedSIILauncher/bin/Release/netcoreapp5.0/osx-x64/publish/*.pdb
        retention-days: 30
  PackageMacApp:
    needs: [Build]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Download Mac Binary
        uses: actions/download-artifact@v1
        with:
          name: TSMPModdedSIILauncher-Mac
      
      - name: Create .app
        run: | 
          mkdir -p TSMPModdedSII-Mac/TSMPModdedSIILauncher.app/Contents/MacOS
          mkdir -p TSMPModdedSII-Mac/TSMPModdedSIILauncher.app/Contents/Resources
          
          mv ./resources/macplist TSMPModdedSII-Mac/TSMPModdedSIILauncher.app/Contents/Info.plist 
          mv ./resources/icon.icns TSMPModdedSII-Mac/TSMPModdedSIILauncher.app/Contents/Resources/icon.icns
          
          cp TSMPModdedSIILauncher TSMPModdedSII-Mac/TSMPModdedSIILauncher.app/Contents/MacOS/TSMPModdedSeasonII
          mv ./resources/mac TSMPModdedSII-Mac/TSMPModdedSIILauncher.app/Contents/MacOS/TSMPModdedSIILauncher
          
          chmod +x TSMPModdedSII-Mac/TSMPModdedSIILauncher.app/Contents/MacOS/TSMPModdedSeasonII
          chmod +x TSMPModdedSII-Mac/TSMPModdedSIILauncher.app/Contents/MacOS/TSMPModdedSIILauncher
      - name: Create DMG
        run: |
          hdiutil create -format UDZO -srcfolder TSMPModdedSII-Mac TSMPModdedSIILauncher-MacApp.dmg
      - name: Upload Artifact for Mac app
        uses: actions/upload-artifact@v2
        with:
          name: TSMPModdedSIILauncher-MacApp
          path: TSMPModdedSIILauncher-MacApp.dmg
          retention-days: 30

    
  Release:
    if: github.event_name == 'workflow_dispatch'
    needs: [Build, PackageMacApp]
    runs-on: ubuntu-latest
    steps: 
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.event.inputs.version }}
          release_name: Release ${{ github.event.inputs.releaseName }}
          draft: true
          prerelease: false
      
      - name: Upload Windows Release Asset
        
        uses: actions/download-artifact@v2
        with:
          name: TSMPModdedSIILauncher-Windows

      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: TSMPModdedSIILauncher.exe
          asset_name: TSMPModdedSIILauncher-Windows
          asset_content_type: application/octet-stream

      - name: Clean file
        run: | 
          rm TSMPModdedSIILauncher.exe


      - name: Upload Linux Release Asset
        
        uses: actions/download-artifact@v2
        with:
          name: TSMPModdedSIILauncher-Linux

      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: TSMPModdedSIILauncher
          asset_name: TSMPModdedSIILauncher-Linux
          asset_content_type: application/octet-stream
          
      - name: Clean file
        run: |
          rm TSMPModdedSIILauncher

      - name: Upload Mac Release Assets
        
        uses: actions/download-artifact@v2
        with:
          name: TSMPModdedSIILauncher-Mac
      
      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: TSMPModdedSIILauncher
          asset_name: TSMPModdedSIILauncher-Mac
          asset_content_type: application/octet-stream
        
      - name: Clean file
        run: |
          rm TSMPModdedSIILauncher

      - uses: actions/download-artifact@v2
        with:
          name: TSMPModdedSIILauncher-MacApp

      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: TSMPModdedSIILauncher-MacApp.dmg
          asset_name: TSMPModdedSIILauncher-MacApp
          asset_content_type: application/octet-stream

